.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 20px;
  font-weight: 100;
}

.header > input {
  border-radius: 5px;
  padding: 10px;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card img {
  max-width: 100px;
  max-height: 100px;
}

.card h3 {
  text-align: center;
}
